<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <style>
        .styled-table {
            width: 100vw;

            border-collapse: separate;
            border-spacing: 2px;

            font-size: 2em;
            font-family: sans-serif;
            min-width: 399px;
            box-shadow: -1 0 20px rgba(0, 0, 0, 0.15);

            margin: 0 auto;
        }

        .bold-text {
            /* Sets the text color to white */
            color: white;
            /* Makes the text bold */
            font-weight: bold;
            font-family: sans-serif;
            text-shadow: 0px 0px 5px #000;
        }

        tr,
        img {
            height: 200px;
        }

        img {
            width: 200px;
        }
    </style>
</head>

<body>
    <table border="0" class="dataframe styled-table">
        <thead>
            <tr style="text-align: center; text-shadow: null;">
                <th>cover</th>
                <th>music_title</th>
                <th>difficulty</th>
                <th>pass_rate</th>
                <th>pass_count</th>
                <th>nessacary</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr class="bold-text" style="background-color: {{ item.color }}; text-align: center;">

                <td>
                    <a href="https://search.bilibili.com/all?keyword=maimai%20{{ item.level | urlencode }}%20AP%20{{ item.music_title | urlencode }}"
                        target="_blank" rel="noopener noreferrer">
                        <img loading=lazy src="{{ item.cover_pic }}">
                    </a>

                </td>
                <td>
                    <p>{{ item.music_title }}<br>{{ item.hint }}</figcaption>
                </td>
                <td>{{ item.difficulty }}</td>
                <td>{{ item.pass_rate }}</td>
                <td>{{ item.passed_players }}</td>
                <td>{{ item.nessacary }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>